body {
margin:50px;
border:20px;
padding:20px;
background: #ddba7a;
}


h1 {
	font-family: Georgia;
	color: #bc6916;
}

p {
	font-family: Georgia;
	color: black;
}

.recipeImage {
	border-radius: 10px;
	width: 300px;
	margin: 10px;
}

#your-results {
	text-align: center;
}

#your-pairing {
	text-align: center;
}
